<html>

<head>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <h1>Delete Completed Tasks</h1></br>
    <h2>
        <a href="/">Home</a>
        <a href="/newdeveloper">New Developer</a>
        <a href="/listdevelopers">List Developers</a>
        <a href="/newtask">New Task</a>
        <a href="/listtasks">List Tasks</a>
        <a href="/updatetask">Update Task</a>
        <a href="/deletetask">Delete Task</a>
    </h2>

    <form action="/deleteall" method="POST">
        <button>Delete Completed Tasks</button>
    </form>
</body>

</html>